<h2>Stories submitted by <%= @user.name %></h2>
<div id="stories_submitted">
  <%= render partial: @stories_submitted %>
</div>
<h2>Stories voted for by <%= @user.name %></h2>
<div id="stories_voted_on">
  <%= render partial: @stories_voted_on %>
</div>
